@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

* {
  box-sizing:border-box;
}
body {
  background: #cacaca;
}

.sticky  {
	display: block;
	padding:10px 10px 25px;
	margin:0 auto 20px auto;
	/*width:250px;*/
  min-height: 120px;
	max-height:160px;
	font:13px 'Gloria Hallelujah';
	line-height:1.5;
	border:0;
	border-radius:3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	/*max-width:520px;
	max-height:250px;*/
}

#home-header {
  text-align: center;
}

.panel-height {
  min-height: 120px;
  max-height: 150;
}

.capitalize {
  text-transform: capitalize;
}
