<div id="home-header" class="well">
    <h1>Home Page</h1>
</div>

<h2>Stories</h2>

<div class="row">
  <button class="btn btn-primary" ng-click="vm.getDoneStories()">Get Done Stories</button>
  <button class="btn btn-primary" ng-click="vm.getCurrentStories()">Get Current Stories</button>
</div>



<div ng-repeat="story in vm.stories">
  <div ng-class="{ 'row': ($index + 1) % 4 == 0 }">
    <div class="col-md-3">
      <div class="panel capitalize" ng-class="vm.panelTypeClass(story.story_type)">
        <div class="panel-heading">{{story.story_type}}</div>
        <div class="panel-body panel-height">{{story.name}}</div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <a href="/about">About Page</a>
</div>
